{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Benefits
{% endblock %}

{% block conteudo %}
    <section class="caixa"><!--/Início seção saiba -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="align-self-center">
              <h2>Benefits</h2>
              <p>
                With Finans, you categorize all your entries. With simple graphs, you know where your money comes from and where it goes.              </p>
              <a href="" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>
      </div>
    </section><!--/FIM seção saiba -->
{% endblock %}
