{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Resources
{% endblock %}

{% block conteudo %}
    <section class="caixa"><!--/Início seção saiba -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="align-self-center">
              <h2>Try yourself</h2>
              <p>
                With Robotron 5000, you categorize all your entries.
              </p>
              <a href="/try" class="btn btn-primary">Have a try!</a>
            </div>
          </div>
        </div>
      </div>
    </section><!--/FIM seção saiba -->
{% endblock %}
